<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Directed Force Graph</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>

    <div id="container">
        <svg id="phylo-cello-graph"></svg>
    </div>

    <script type="module">
        import constructTree from "../../static/js/TreeConstructor.js";
        import TreeDisplay from "../../static/js/TreeDisplay.js";

        const nodes = [];
        const links = [];
        let width = window.innerWidth;
        let height = window.innerHeight;
    </script>
</body>

</html>